body{
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  color:#3f3f3f;
  -webkit-border-image: url(img/teal-bg.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(img/teal-bg.png) 30 round; /* Opera 11-12.1 */
  border-image: url(img/teal-bg.png) 30 round;
  border-image-width: 2;
  border-bottom:0;
  border-left:0;
  border-right:0;  
}

h1, h2, h3, p{
  text-align: center;
  margin: 20px auto;
}

h1{
  font-family: 'Yeseva One', cursive;
  text-transform: lowercase;
  font-size: 1.5em;
}
h2{
  font-size:1.5em;
  letter-spacing: -1px;
  width:70%;
}
h3{
  font-style:italic;
  font-size: 1.15em;
  width:70%;
}
p{
  font-size: 1em;
  line-height:1.46;
  width:70%;
}
img{
  width:100%;
}
#jeffers{
  text-transform: uppercase;
  font-size: 1.9em;
}
#quote-container{
  padding:20px;
}
#images{
  display:flex;
  justify-content:space-between;
}
.wrapper{
  width:90%;
  margin: 0 auto;
  max-width: 800px;
}
.placeholder{
  text-align: center;
  padding:100px;
  margin-bottom:20px;
  background-color: #ccc;
}
.center{
  margin: 0 auto;
}
.button{
  background-color: rgb(117, 170, 170);
  font-size: 1.2em;
  border:0;
  padding:10px; 
  color:#FFF;
  border-radius: 5px;
  display:block;
  margin: 20px auto;
}
.image{
  flex:none 0 1 auto;
  align-content:flex-start;
  width:30%;
  max-height:170px;
  overflow:hidden;
  border-radius:5px;
}
